
<div class="container" style="padding: 40px;" *ngIf="products.length!=0">
    <div class="cart-table">
      <div class="cart-product" >
        <table class="table table-responsive" >
          <thead>
          <tr>
            <th>Naziv proizvoda</th>
            <th>Slika</th>
            <th>Opis</th>
            <th>Cijena</th>
            <th>Proizvođač</th>
            <th>Količina</th>
            <th>Akcija</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products">
            <td  >{{p.nazivProizvoda}}</td>
            <td ><img   src="{{getSlikaProizvoda(p)}}"></td>
            <td id="opis">{{p.opis}}</td>
            <td >{{p.cijena}}KM</td>
            <td >{{p.proizvodjac.nazivProizvodjaca}}</td>
            <td >  <input type="number" placeholder="Kolicina" min="1" [(ngModel)]="p.kolicina"></td>
            <td>
              <button class="btn btn-danger" id="okvirDugme" (click)="removeItem(p)">Ukloni</button>
            </td>

          </tr>
          <tr>
            <td colspan="3"></td>
            <td><strong>Ukupno: {{grandTotal}} KM</strong></td>
            <td><button (click)="emptycart()" class="btn btn-danger">Očisti korpu</button></td>
            <td><button routerLink="/pocetna" class="btn btn-primary">Nastavi kupovinu</button></td>
            <td><button (click)="naruci()"  class="btn btn-success">Završi kupovinu</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


<ng-container *ngIf="products.length==0">
  <div class="container" style="margin-bottom: 6%">
    <div style="text-align: center" class="cart">
      <h3>Korpa</h3>
    </div>
    <div class="center">
      <img src="/assets/empty-cart.png" alt="">
      <h4>Vaša korpa je prazna</h4>
      <h6>Krenite sa vašom kupovinom</h6>
      <button class="btn btn-primary" routerLink="/pocetna">
        Kupovina
      </button>
    </div>
  </div>
</ng-container>


