<footer class="bg-dark text-center text-white" id="okvirFooter">
  <div class="container p-4 pb-0">
    <section class="mb-4" style="height: 40px">
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <img src="../../assets/Image/IconFooter/2021_Facebook_icon.svg.png" width="45" />
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <img src="../../assets/Image/IconFooter/Instagram_icon.png.webp" width="45" />
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <img src="../../assets/Image/IconFooter/about.png" width="45" />
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <img src="../../assets/Image/IconFooter/katalog_icon.png" width="45" />
      </a>

    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">PCWebShop.com</a>
  </div>
</footer>
